<div class="form-group">
    <label for="texto" class="control-label">Texto</label>
    <input type="text" class="form-control" id="texto" name="comments[texto]" value="<%=comments.texto%>" required="true" title="Ingrese nombre del Foro" placeholder="<nombre del foro>">
    <span class="help-block"></span>
</div>
