<div class="container">
	<div class="row">
    <div class="col-md-12">
      <h4>Foros/topics</h4>
			<article class="article">
				<hr class="article-hr">
					<%= topic.titulo %>
				</hr>
				<div class="article-post">
					<%= topic.texto %>
				</div>
				<% var i; for (i=0; i < topic.Comments.length; i++) { %>
						<%= topic.Comments[i].texto %>
						<% include ../partials/commentStatus %>
				<% } %>
			</article>
    </div>
  </div>
</div>
