$rsBgColor= black
$rsFgColor= white
$rsHColor= #111
$rsHoColor= #f1f1f1
$rsThColor= #555
$rsBtColor= #333
$rsBtHoColor= #000
$rsNvColor= #2d2d30
$rsNvBrColor= #d5d5d5
$rsNvAColor= #29292c
$rsNvTbColor= #777
$rsFooColor= #f5f5f5
$rsTopicBgColor= #282828
$rsTopicLsBgColor= #434343
