<table class="table forum table-striped">
  <tbody>
    <tr>
      <td class="cell-stat text-left hidden-xs hidden-sm">
        <center>
          <small>
            <p>
              <%= moment(topic.Comments[i].createdAt).format(DateFormat) %>
              <span class="glyphicon glyphicon-user">
                <a href="#"><%= topic.Comments[i].User.nick %></a>
              </span>
            </p>
          </small>
        </center>
      </td>
    </tr>
  <tbody>
</table>
