<footer>
<div class="footer">
  <div class="overlayer">
    <div class="container">
      <div class="row support">
        <div class="col-sm-3">
          <h4>Políticas</h4>
          <ul class="list-unstyled">
            <li><a href="/terminos">Terminos de Uso</a></li>
            <li><a href="/privacidad">Terminos de Privacidad</a></li>
            <li><a href="/cookies">Uso de Cookies</a></li>
          </ul>
        </div>
        <div class="col-sm-3">
          <h4>Usuarios felices</h4>
          <ul class="list-unstyled social-list">
            <li><h3 class="numbers-dont-lie"><b>600</b> Cuentas</h3></li>
            <li><h3 class="numbers-dont-lie"><b>3.081.877</b> Historias</h3></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h4>Revista So'o</h4>
          <p>Noticias y culebrones todos los meses.</p>
          <h3 class="subscribers">
            4,322
            Subscriptores
          </h3>
        </div>
        <div class="col-sm-2">
          <h4>Radiosoo.Net</h4>
          <ul class="list-unstyled">
            <li><a href="/about">Acerca de...</a></li>
            <li><a href="/historiasoo">Nuestra Historia</a></li>
            <!--li><a href="/contacto">Contactenos</a></li-->
            <li><a href="/sponsor">Sponsors</a></li>
          </ul>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="social-area text-center">
          <h4 class="text-center">Redes Sociales</h4>
          <a href="https://www.facebook.com/radiosoong" class="btn btn-default btn-social btn-round"><i class="fa fa-facebook-square"></i></a>
          <a href="https://twitter.com/radiosoong" class="btn btn-default btn-social btn-round"><i class="fa fa-twitter"></i></a>
          <a href="https://plus.google.com/+radiosoong" class="btn btn-default btn-social btn-round"><i class="fa fa-google-plus-square"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="credits">
          &copy; 1997-2016 Radio So'o, todos los derechos reservados. Hecho con <span class="glyphicon glyphicon-heart"></span> para una mejor web.
        </div>
      </div>
    </div>
  </div>
</div>
</footer>
