<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="radiosoo.net">
  <link rel="icon" href="favicon.ico" />
  <link rel="alternate" type="application/atom+xml" title="Radio So'o" href="/action.atom"/>
  <link rel="alternate" hreflang="es" href="http://www.radiosoo.net/" />
  <meta name="description" content="Foro horizontal y anárquicamente organizado (?!! #$%&amp;@), donde lo único que cuenta es tu cerebro. Entrá y opiná sobre cualquier tema de tu agrado (o no) y aportá vos tu pensamiento que habrá siempre un ánima virtual en pena impaciente de cambiar puntos de vista contigo (o mandarte a la #$%&amp;@!!). El límite es tu imaginación, entrá y pasá un rato re-mbarete (o sea cool (??)) ANOTATE en la lista de la Tribu Virtual de Soótizen y empezá a divertirte.Si todavía no entendíste, así definieron los usuarios...">
  <meta name="keywords" content="Foro, Webforum, Paraguay, RadioSoo, Radio So'o">
  <meta property="og:title" content="Radio So'o" />
  <meta property="og:type" content="website" />
  <meta property="og:image" content="http://www.radiosoo.net/img/comunidad.png" />
  <meta property="og:url" content="http://www.radiosoo.net/" />
  <meta property="og:description" content="Foro Horizontal y anárquicamente organizado" />
  <meta property="article:publisher" content="https://www.facebook.com/RadioSoo"/>
  <meta property="fb:admins" content="RadioSoo" />
  <meta property="twitter:card" content="summary" />
  <meta property="twitter:site" content="@radiosoo" />
  <meta property="twitter:creator" content="@radiosoo" />
  <meta property="twitter:url" content="http://www.radiosoo.net" />
  <meta property="twitter:title" content="Radio So'o" />
  <meta property="twitter:description" content="Foro horizontal y anárquicamente organizado" />
  <meta property="twitter:image" content ="http://www.radiosoo.net/img/comunidad.png" />
  <title><%= title %></title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <link href="/font/font-awesome.min.css" rel="stylesheet">
  <link href="/css/radiosoo.css" rel="stylesheet">
</head>
