<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>Bienvenido a Radio So'o</h1>
    <p>Foro horizontal y anárquicamente organizado (?!! #$%&@), donde lo único que
      cuenta es tu cerebro. Entrá y opiná sobre cualquier tema de tu agrado (o no)
      y aportá vos tu pensamiento que habrá siempre un ánima virtual en pena
      impaciente de cambiar puntos de vista contigo (o mandarte a la #$%&@!!).
      El límite es tu imaginación, entrá y pasá un rato re-mbarete</p>
    <p>ANOTATE como Soótizen y empezá a divertirte.Si todavía no entendíste,
      no importa entrá igual...</p>
    <p>Antes de ingresar asegurate de haber leído los <a href="/terminos">Téminos de Uso</a></p>
    <p><a class="btn btn-primary btn-lg" role="button">Acepto&raquo;</a></p>
  </div>
</div>
