<div id="login-overlay" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">
          <a href="/">
            <span class="glyphicon glyphicon-remove-circle"></span>
          </a>
        </span>
        <span class="sr-only">Close</span>
      </button>
      <h4 class="modal-title" id="myModalLabel">Bienvenidos a la Radio So'o</h4>
    </div>
    <div class="modal-body">
      <div class="container sign-in-up">
        <div class="row">
          <!--div class="col-md-6 col-md-offset-4"-->
          <div class="col-xs-6">
            <br>
            <!-- Nav tabs -->
            <div class="text-center">
              <p>Foro horizontal y anárquicamente organizado (?!! #$%&@), donde lo único que
              cuenta es tu cerebro. Entrá y opiná sobre cualquier tema de tu agrado (o no)
              y aportá vos tu pensamiento que habrá siempre un ánima virtual en pena
              impaciente de cambiar puntos de vista contigo (o mandarte a la #$%&@!!).
              El límite es tu imaginación, entrá y pasá un rato re-mbarete</p>
              <p>ANOTATE como Soótizen y empezá a divertirte.Si todavía no entendíste,
              no importa entrá igual...</p>
              <p>Antes de ingresar asegurate de haber leído los <a href="/terminos">Téminos de Uso</a></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
