<div id="login-overlay" class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title" id="myModalLabel">Donar a RadioSoo.net</h4>
    </div>
    <div class="modal-body">
      <div class="container sign-in-up">
        <div class="row">
          <!--div class="col-md-6 col-md-offset-4"-->
          <div class="col-xs-6">
            <br>
            <!-- Nav tabs -->
            <div class="text-center">
              <div class="btn-group">
                <a href="/user" role="tab" data-toggle="tab" class="big btn btn-primary"><i class="fa fa-plus"></i> Crear Usuario</a>
                <a href="/login" role="tab" data-toggle="tab" class="big btn btn-danger"><i class="fa fa-user"></i> Ya soy Usuario</a>
              </div>
            </div>
            <div class="tab-content">
              <div class="tab-pane fade in active" id="new">
                <br>
                <fieldset>
                  <div class="form-group">
                    <div class="right-inner-addon">
                      <i class="fa fa-envelope"></i>
                      <input class="form-control input-lg" placeholder="Email Address" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="right-inner-addon">
                      <i class="fa fa-key"></i>
                      <input class="form-control input-lg" placeholder="Password" type="password">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="right-inner-addon">
                      <i class="fa fa-key"></i>
                      <input class="form-control input-lg" placeholder="Confirm Password" id="" type="password">
                    </div>
                  </div>
                </fieldset>
                <hr>
                <li class="paywith">
                  Donar con:
                </li>
                <hr>
                <ul class="nav nav-tabs" role="tablist">
                  <li class="active"><a href="#pp" role="tab" data-toggle="tab">
                    <i class="fa fa-dollar"></i> PayPal</a>
                  </li>
                  <li><a href="#bc" role="tab" data-toggle="tab">
                    <i class="fa fa-bitcoin"></i> Bitcoin</a>
                  </li>
                  <li><a href="#tc" role="tab" data-toggle="tab">
                    <i class="fa fa-dollar"></i> Tigo Cash</a>
                  </li>
                  <li><a href="#bp" role="tab" data-toggle="tab">
                    <i class="fa fa-dollar"></i> Personal</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div class="tab-pane fade text-center" id="bc">
                    <h2>$9<sup>,99</sup> con <i class="fa fa-bitcoin"></i>
                    </h2>
                    <a href="https://bitcoin.org/es/faq#que-es-bitcoin" class="q text-center">¿Qué es Bitcoin?</a><br>
                    <br>
                    <button class="btn btn-primary btn-lg btn-block">DONAR $9<sup>,99</sup> USD con BITCOIN</button>
                  </div>
                  <div class="tab-pane fade in active text-center" id="pp">
                    <h2>$9<sup>,99</sup> con <i class="fa fa-dollar"></i></h2>
                    <a href="https://www.paypal.com/es/home" class="q text-center">¿Qué es PAYPAL?</a><br>
                    <br>
                    <button class="btn btn-primary btn-lg btn-block">DONAR $9<sup>,99</sup> USD con PAYPAL</button>
                  </div>
                  <div class="tab-pane fade text-center" id="tc">
                    <h2>$9<sup>,99</sup> con <i class="fa fa-dollar"></i></h2>
                    <a href="https://www.tigo.com.py/tigo-money" class="q text-center">¿Qué es Tigo Cash?</a><br>
                    <br>
                    <button class="btn btn-primary btn-lg btn-block">DONAR $9<sup>,99</sup> USD con TIGO CASH</button>
                  </div>
                  <div class="tab-pane fade text-center" id="bp">
                    <h2>$9<sup>,99</sup> con <i class="fa fa-dollar"></i></h2>
                    <a href="https://www.personal.com.py/#!/public/billetera/index/" class="q text-center">¿Qué es Billetera Personal?</a><br>
                    <br>
                    <button class="btn btn-primary btn-lg btn-block">DONAR $9<sup>,99</sup> USD con Billetera Personal</button>
                  </div>
                </div>
              </div>
              <div class="tab-pane fade" id="user">
                <br>
                <fieldset>
                  <div class="form-group">
                    <div class="right-inner-addon">
                    <i class="fa fa-envelope"></i>
                    <input class="form-control input-lg" placeholder="Email Address" type="text">
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="right-inner-addon">
                      <i class="fa fa-key"></i>
                      <input class="form-control input-lg" placeholder="Password" type="password">
                    </div>
                  </div>
                </fieldset>
                <br>
                <div class=" text-center">
                  <button class="btn btn-primary">LOGIN</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
