<div class="container">
  <div class="page-header">
    <h1 id="timeline">Nuestra Historia</h1>
  </div>
  <ul class="timeline">
    <li>
      <div class="timeline-badge"><i class="glyphicon glyphicon-check"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">La Radio empieza con Internet en Paraguay</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 16 de Julio de 1997</small></p>
        </div>
        <div class="timeline-body">
          <p>Nuestra historia esta ligada a la historia de Internet en Paraguay.</p>
          <p>Originalmente este servicio fue concevido para la comunicación con los clientes de Planet Internet S.A.</p>
          <p>Rápidamente este servicio desde sus inicios en julio de 1997 fue creciendo explosivamente como lo hizo
          la conección de usuarios de Paraguay, quienes accedian cada vez mas a los servicios que eran ofrecidos en Internet.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Tormenta destruye el servidor</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 6 de Julio del 1999</small></p>
        </div>
        <div class="timeline-body">
          <p>Un rayo que cayó durante una tormenta destruye varios servidores en Planet. Toda la información se pierde.</p>
          <p>Se lanza una nueva versión de la Radio el 6 de julio de 1999.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge danger"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Se crea radiosoo.com</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 8 de Marzo del 2000</small></p>
        </div>
        <div class="timeline-body">
          <p>Se lanza una nueva interfase.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge warning"><i class="glyphicon glyphicon-credit-card"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Se baja el servicio radiosoo.com</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 10 de Octubre de 2013</small></p>
        </div>
        <div class="timeline-body">
          <p>Las autoridades de Planet Internet S.A. decidieron bajar los servicios de la Radio. Básicamente por que no generaba dinero, pero recibian reclamos judiciales sobre lo que sucedía en el sitio.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge success"><i class="glyphicon glyphicon-thumbs-up"></i></div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">Se Lanza la Radio So'o NG como www.radiosoo.net</h4>
          <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 25 de Diciembre de 2015</small></p>
        </div>
        <div class="timeline-body">
          <p>Luego de meses de trabajo y se lanza el nuevo servicio ya de forma independiente y soberana. Esperamos mucho tiempo para esto. Todo empezó con una comunicación vía whatsapp de Alquimish para ver de rearmar todo el sitio. Desde entonces estamos con uds de vuelta.</p>
        </div>
      </div>
    </li>
  </ul>
</div>
