<div class="container">
  <div class="page-header">
    <h1 class="text-center">Sponsors</h1>
  </div>
  <p class="lead text-center">Este emprendimiento depende exclusivamente de los aportes de la comunidad para su normal funcionamiento. Por este motivo dependemos de nuestros sponsors y donantes. Les estamos muy agradecidos a todos ellos.</p>
  <div class="container">
    <div class="row stylish-panel">
      <div class="col-md-4">
        <div>
          <img src="http://lorempixel.com/200/200/abstract/1/" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>Tu nombre o el de la empresa</h2>
          <p>Nos da su apoyo, económico y moral, para todo lo que emprendamos acá.
          </p>
          <!--a href="#" class="btn btn-primary" title="See more">See works »</a-->
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="http://lorempixel.com/200/200/abstract/2/" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>Tu nombre o el de la empresa</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="http://lorempixel.com/200/200/abstract/3/" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>Tu nombre o el de la empresa</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
    <div class="row stylish-panel">
      <div class="col-md-4">
        <div>
          <img src="http://lorempixel.com/200/200/abstract/4/" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>Tu nombre o el de la empresa</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="http://lorempixel.com/200/200/abstract/5/" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>Tu nombre o el de la empresa</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <div>
          <img src="http://lorempixel.com/200/200/abstract/6/" alt="Texto Alternativo" class="img-circle img-thumbnail">
          <h2>Tu nombre o el de la empresa</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
            tempor incididunt ut labore et dolore magna aliqua.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- /container -->
